# Firebase Configuration
FIREBASE_API_KEY=AIzaSyBo7S68XD7RIxl9atSVepoHvkXRljQG_A8
FIREBASE_AUTH_DOMAIN=confesso-app.firebaseapp.com
FIREBASE_PROJECT_ID=confesso-app
FIREBASE_STORAGE_BUCKET=confesso-app.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=980180808886
FIREBASE_APP_ID=1:980180808886:web:8365669b29d882934fa217
FIREBASE_MEASUREMENT_ID=G-K5L6WG4L9T

# App Configuration
APP_SCHEME=confesso 